body {
  background: #2d2d2d;
  color: #cccccc;
}
abbr {
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffcc66;
}
a {
    color: #99cc99;
    text-decoration: none;
}
ol.georgian { list-style-type: georgian; }
ol.iroha { list-style-type: hiragana-iroha; }
